.main-container {
    width: 55vw;
    margin: 1.5rem auto;
    border: 1px #000 solid;
    background-color: #fffdfa;
}

.title {
    padding: 1rem;
}

.title h1 {
    font-size: 3rem;
    line-height: 1.1;
}
.main {
    display: flex;
}
.left-info {
    background-color: #b0e0e6;
    padding: 2.5rem;
}
.left-info__contact ul li:first-child {
    font-size: 0.813rem;
}

.left-info__contact,
.left-info__skills,
.contact__icons {
    margin-top: 1.5rem;
}
.contact__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact__icons img {
    width: 40px;
}

.right-info {
    padding: 1rem;
}
.right-info p,
hr {
    margin-top: 1rem;
}
.right-info__about,
.right-info__courses,
.right-info__courses h3 {
    margin-top: 1rem;
}

.title {
    padding: 1rem;
    background-color: #b0e0e6;
}

@media only screen and (max-width: 865px) {
    .main-container {
        width: 90vw;
    }

    .title,
    .left-info {
        text-align: center;
    }
    .left-info__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title h2 {
        font-size: 1.5rem;
    }
    .qrcode {
        width: 280px;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .left-info,
    .right-info {
        padding: 1rem;
    }
}
