.main-container {
    width: 100%;
    max-width: 960px;
    margin: 1rem auto;
    border: 1px #000 solid;
    background-color: #fffdfa;
}
.main {
    display: flex;
}
.left-info {
    flex: 1;
    background-color: #b0e0e6;
    padding: 2rem;
}

.right-info {
    padding: 2rem;
}

.title {
    padding: 1rem;
    background-color: #b0e0e6;
}
