@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
:root {
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: 	#002439;
  color: #e4eff0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-blue-ocean: #005066;
  --color-blue-neutral: #4e7988;
  --color-blue-light: #78cce2;
  
  
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.navbar {
  margin: 0 auto;
  background-color: var(--color-blue-ocean) ;
  padding: 2rem;
}

.navbar__links {
  display: flex;
  justify-content: space-evenly;
  
  color: inherit;
  
}

.navbar__links a {
  padding: 1.5rem;
  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    width: 50%;
    height: 65vh;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}

.terminal__bar {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#504b45 0%,#3c3b37 100%);
}

.bar__buttons {
    display: flex;
    align-items: center;
}

.bar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 0.25rem;
    font-size: 0.5rem;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.bar__button:hover {
    cursor: pointer;
}
.bar__button:focus {
    outline: none;
}
.bar__button--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
    background-clip: padding-box;
}

.bar__user {
    color: inherit;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    line-height: 16px;
}

.terminal__body {
    background: rgba(56, 4, 40, 0.9);
    font-family: 'Ubuntu Mono';
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
}

.terminal__output {
 color: inherit;
}

.terminal__prompt {
  display: flex;
}
.terminal__prompt--user {
  color: #7eda28;
}
.terminal__prompt--location {
  color: #4878c0;
}
.terminal__prompt--bling {
  color: #dddddd;
}
.terminal__prompt--cursor {
  display: block;
  height: 17px;
  width: 8px;
  margin-left: 0.5rem;
  animation: blink 1200ms linear infinite;
}

@keyframes blink {
  0% {
    background: #ffffff;
  }
  49% {
    background: #ffffff;
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: #ffffff;
  }
}

@media (max-width: 600px) {
  .terminal {
    max-height: 90%;
    width: 90%;
  }
}